src/main/resources/xsd/exam.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ExamType">
        <xs:all>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="data" type="xs:date"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="specialityId" type="xs:long"/>
            <xs:element name="time" type="xs:int"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="exam" type="ExamType"/>
</xs:schema>