src/main/resources/xsd/faculty.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="FacultyType">
        <xs:all>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="dekan" type="xs:string"/>
            <xs:element name="universityId" type="xs:long"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="faculty" type="FacultyType"/>
</xs:schema>