src/main/resources/xsd/payment.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="PaymentType">
        <xs:all>
            <xs:element name="bankTitle" type="xs:string"/>
            <xs:element name="priceId" type="xs:long"/>
            <xs:element name="studentId" type="xs:long"/>
            <xs:element name="data" type="xs:date"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="payment" type="PaymentType"/>
</xs:schema>